{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{# block that contains the login form #}
{% block body %}
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <div class="d-flex justify-content-center" style="padding-top: 50px; padding-bottom:100px; width: 100%">
    <div class="card hover" style="width: 70%;">
    <div class="card-body">

    <form action="{{ path('app_login') }}" method="post">

        <h1 style="margin-bottom:20px;">Sign in</h1>

        <p style="margin-bottom:20px;">Don't have an account ?  <a href="/register"> register </a></p>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <label for="inputEmail">Email address</label>
            <input class="form-control" type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
            {# <input type="text" id="username" name="_username" value="{{ last_username }}"> #}
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
            </div>

            <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-success btn-block mb-4">Sign in</button>

    </form>
    </div>
    </div>
    </div>
{% endblock %}