{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="text-center" style="padding-top: 20px; padding-bottom: 30px">{{ category.name }}</h2>
    
    <div class="d-flex flex-wrap justify-content-center" style="padding-bottom:70px">
    
    {% if category.getPosts()|length == 0 %}
        <div class="alert alert-warning" role="alert">
            No posts in this category yet.
        </div>
    {% endif %}
    
    {% for post in category.getPosts() %}

        <a href="/post/{{ post.getId() }}" style="text-decoration: none; color: black; padding: 15px">
            <div class="card hover" style="width: 400px">
                <div class="card-body">
                    <h5 class="card-title text-center" style="font-size:24px; padding-bottom: 20px"> {{ post.getTitle() }}</h5>
                    {% for category in post.getCategories() %}
                        <div href="/category/{{ category.getId() }}" class="badge badge-success" style="margin-bottom:15px;">{{ category.getName() }}</div>
                    {% endfor %}
                    <p class="card-text" style="padding-bottom: 10px"> {{ post.getDescription() }} </p>
                    {% if post.getContent|length > 200 %}
                        <p class="card-text" style="padding-bottom: 10px"> {{ post.getContent()|slice(0, 200) }}... </p>
                    {% else %}
                        <p class="card-text" style="padding-bottom: 10px"> {{ post.getContent() }} </p>
                    {% endif %}
                    <footer class="blockquote-footer text-right">Posted the <cite title="Source Title"> {{ post.getCreatedAt()|date('d/m/Y') }} </cite></footer>
                    <footer class="blockquote-footer text-right">By <cite title="Source Title"> {{ post.getCreator().getEmail() }} </cite></footer>
                </div>
            </div>
        </a>
        
    {% endfor %}

    </div>

{% endblock %}