{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
    <div class="alert alert-warning" role="alert">
        Hint !
        You can let the fields empty if you don't want to change them.
    </div>


    <div class="d-flex justify-content-center" style="padding-top: 50px; padding-bottom: 110px; width: 100%">
    <div class="card hover col-11 col-md-9 col-lg-8 col-xl-6">
    <div class="card-body">
    {{ form_start(editPostForm) }}

        <h1 style="margin-bottom:40px;">New post</h1>

        <div class="form-outline ">
            {{ form_row(editPostForm.title) }}
        </div>

        <div class="form-outline ">
            {{ form_row(editPostForm.description) }}
        </div>

        <div class="form-outline ">
            {{ form_row(editPostForm.content) }}
        </div>

        <div class="form-outline ">
            {{ form_row(editPostForm.categories) }}
        </div>

        <input type="hidden" name="_target_path" value="/posts/mode/1">

        <!-- Register button -->
        <button type="submit" class="btn btn-outline-success btn-block ">Post</button>

    {{ form_end(editPostForm) }}
    </div>
    </div>
    </div>
{% endblock %}
