{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-center" style="padding-top: 20px"> Tous les posts : </h2>

    <div class="d-flex flex-wrap justify-content-center" style="padding-bottom:60px">

        {% for post in posts %}

            <a href="/post/{{ post.getId() }}" style="text-decoration: none; color: black; padding: 20px">
                <div class="card hover" style="max-width: 400px; margin: 20px">
                    <div class="card-body" style="min-width: 400px">
                        <h5 class="card-title text-center" style="font-size:24px; padding-bottom: 20px"> {{ post.getTitle() }}</h5>
                        <p class="card-text" style="padding-bottom: 20px"> {{ post.getDescription() }} </p>
                        <p class="card-text"style="padding-bottom: 20px"> {{ post.getContent() }} </p>
                        <footer class="blockquote-footer text-right">Posted the <cite title="Source Title"> {{ post.getCreatedAt()|date('d/m/Y') }} </cite></footer>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>

{% endblock %}