{% extends 'base.html.twig' %}

{% block title %}New post{% endblock %}

{# block that display the new post form #}
{% block body %}

    <div class="d-flex justify-content-center" style="padding-top: 50px; padding-bottom: 110px; width: 100%">
    <div class="card hover col-11 col-md-9 col-lg-8 col-xl-6">
    <div class="card-body">
    {{ form_start(newPostForm) }}

        <h1 style="margin-bottom:40px;">New post</h1>

        <div class="form-outline ">
            {{ form_row(newPostForm.title) }}
        </div>

        <div class="form-outline ">
            {{ form_row(newPostForm.description) }}
        </div>

        <div class="form-outline ">
            {{ form_row(newPostForm.content) }}
        </div>

        <div class="form-outline ">
            {{ form_row(newPostForm.categories) }}
        </div>

        <input type="hidden" name="_target_path" value="/posts/mode/1">

        <!-- Register button -->
        <button type="submit" class="btn btn-outline-success btn-block ">Post</button>

    {{ form_end(newPostForm) }}
    </div>
    </div>
    </div>
{% endblock %}
