{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}

    <div class="alert alert-warning" role="alert">
        Hint !
        You can let the fields empty if you don't want to change them.
    </div>

    <div class="d-flex justify-content-center" style="padding-top: 50px; padding-bottom: 110px;">
    <div class="card hover" style="max-width: 80%;">
    <div class="card-body" style="min-width: 700px">
    {{ form_start(editUserForm) }}

        <h1 style="margin-bottom:40px;">Edit profile</h1>

        <div class="form-outline ">
            {{ form_row(editUserForm.username) }}
        </div>

        <div class="form-outline ">
            {{ form_row(editUserForm.email) }}
        </div>

        <div class="form-outline ">
            {{ form_row(editUserForm.mood) }}
        </div>

        <button type="submit" class="btn btn-outline-success btn-block ">Update</button>

    {{ form_end(editUserForm) }}
    </div>
    </div>
    </div>
{% endblock %}
