{% extends 'base.html.twig' %}

{% block title %}{{ user.getUsername() }}{% endblock %}

{# block that display the logged user profile and all his posts #}
{% block body %}
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-8 mb-4 mb-lg-0">
            <div class="card mb-3" style="border-radius: .5rem;">
            <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                    alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h2 class="h2 mb-0 text-success"> {{ user.username}} </h2>
                <p class=" mb-0 text-success"> {{ user.mood}} </p>
                <a href="profile/edit">
                    <svg style="margin-top: 30px" fill="#87B456" height="25px" width="25px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                        viewBox="0 0 348.882 348.882" xml:space="preserve">
                    <g>
                        <path d="M333.988,11.758l-0.42-0.383C325.538,4.04,315.129,0,304.258,0c-12.187,0-23.888,5.159-32.104,14.153L116.803,184.231
                            c-1.416,1.55-2.49,3.379-3.154,5.37l-18.267,54.762c-2.112,6.331-1.052,13.333,2.835,18.729c3.918,5.438,10.23,8.685,16.886,8.685
                            c0,0,0.001,0,0.001,0c2.879,0,5.693-0.592,8.362-1.76l52.89-23.138c1.923-0.841,3.648-2.076,5.063-3.626L336.771,73.176
                            C352.937,55.479,351.69,27.929,333.988,11.758z M130.381,234.247l10.719-32.134l0.904-0.99l20.316,18.556l-0.904,0.99
                            L130.381,234.247z M314.621,52.943L182.553,197.53l-20.316-18.556L294.305,34.386c2.583-2.828,6.118-4.386,9.954-4.386
                            c3.365,0,6.588,1.252,9.082,3.53l0.419,0.383C319.244,38.922,319.63,47.459,314.621,52.943z"/>
                        <path d="M303.85,138.388c-8.284,0-15,6.716-15,15v127.347c0,21.034-17.113,38.147-38.147,38.147H68.904
                            c-21.035,0-38.147-17.113-38.147-38.147V100.413c0-21.034,17.113-38.147,38.147-38.147h131.587c8.284,0,15-6.716,15-15
                            s-6.716-15-15-15H68.904c-37.577,0-68.147,30.571-68.147,68.147v180.321c0,37.576,30.571,68.147,68.147,68.147h181.798
                            c37.576,0,68.147-30.571,68.147-68.147V153.388C318.85,145.104,312.134,138.388,303.85,138.388z"/>
                    </g>
                    </svg>
                </a>
                <i class="far fa-edit mb-5"></i>
                </div>
                <div class="col-md-8">
                <div class="card-body p-4">
                    <h6 class="text-success">Information</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Email</h6>
                        <p class="text-muted"> {{ user.email }}</p>
                    </div>
                    </div>
                    <h6 class="text-success">Posts</h6>
                    <hr class="mt-0 mb-4">
                    <div class="row pt-1">
                    <div class="col-6 mb-3">
                        <h6>Total posts</h6>
                        <p class="text-muted"> {{ user.getPosts()|length }}</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Random post</h6>
                        {% if user.getPosts()|length == 0 %}
                            <p class="text-muted">No posts</p>
                        {% else %}
                            {% set post = random(user.getPosts()) %}
                            <a href="/post/{{ post.getId()}}"><p class="text-muted"> {{ post.getTitle() }}</p></a>
                        {% endif %}

                    </div>
                    </div>
                    <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    {% set posts = user.getPosts() %}

    <div class="d-flex flex-wrap justify-content-center" style="padding-bottom:70px">

        {% if posts|length == 0 %}
            <div class="alert alert-warning" role="alert">
                You don't have post anything yet.
            </div>
        {% endif %}
        {% for post in posts %}

            <a href="/post/{{ post.getId() }}" style="text-decoration: none; color: black; padding: 15px">
                <div class="card hover" style="width: 400px">
                    <div class="card-body">
                        <h5 class="card-title text-center" style="font-size:24px; padding-bottom: 20px"> {{ post.getTitle() }}</h5>
                        {% for category in post.getCategories() %}
                            <div href="/category/{{ category.getId() }}" class="badge badge-success" style="margin-bottom:15px;">{{ category.getName() }}</div>
                        {% endfor %}
                        <p class="card-text" style="padding-bottom: 10px"> {{ post.getDescription() }} </p>
                        {% if post.getContent|length > 200 %}
                            <p class="card-text" style="padding-bottom: 10px"> {{ post.getContent()|slice(0, 200) }}... </p>
                        {% else %}
                            <p class="card-text" style="padding-bottom: 10px"> {{ post.getContent() }} </p>
                        {% endif %}
                        <footer class="blockquote-footer text-right">Posted the <cite title="Source Title"> {{ post.getCreatedAt()|date('d/m/Y') }} </cite></footer>
                        <footer class="blockquote-footer text-right">By <cite title="Source Title"> {{ post.getCreator().getEmail() }} </cite></footer>
                    </div>
                </div>
            </a>
            
        {% endfor %}
    </div>


{% endblock %}